
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">Registration Details</div>
    <table class="table table-stripped">
        <tr><th>Name</th><td>@ViewBag.Name</td></tr>
        <tr><th>Country</th><td>@ViewBag.Country</td></tr>
    </table>
</div>